<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorsdata.analytics.android.sdk">

    <!-- 同步数据需要网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取运营商信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application>
        <provider
            android:name="com.sensorsdata.analytics.android.sdk.data.SensorsDataContentProvider"
            android:authorities="${applicationId}.SensorsDataContentProvider"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="com.sensorsdata.analytics.android.MainProcessName"
            android:value="${applicationId}" />
        <meta-data
            android:name="com.sensorsdata.analytics.android.version"
            android:value="${SENSORSDATA_SDK_VERSION}" />
    </application>
</manifest>