<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorsdata.analytics.android.sdkdemo" >

    <!-- [Required] 必须使用该权限，向SensorsAnalytics发送数据 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- [Optional] 该权限可选，查询网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--ShenLei-XXXX JustForDebug-NeedDelete Start-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <!--ShenLei-XXXX JustForDebug-NeedDelete End-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".SubActivity"
            android:label="SubActivity" >
        </activity>
        
        <activity
            android:name=".ExampleListActivity"
            android:label="ExampleListActivity" >
        </activity>

        <meta-data
                android:name="com.mixpanel.android.MPConfig.EnableDebugLogging"
                android:value="true" />

    </application>

</manifest>
