<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sensorsdata.analytics.android.sdk">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="20"
        tools:ignore="GradleOverrides" />

    <application>
        <provider
            android:name="com.sensorsdata.analytics.android.sdk.SensorsDataContentProvider"
            android:authorities="${applicationId}.SensorsDataContentProvider"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.sensorsdata.analytics.android.MainProcessName"
            android:value="${applicationId}" />
    </application>
</manifest>